a{text-decoration: none;}
li{list-style: none;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,.customerWarp li {
    box-sizing: border-box;
}


.clear{clear: both;}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 34px;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0);
    z-index: 999;
}
.headeractive{
    background: rgb(255, 255, 255);
}
.headerWarp,.serviceWarp,.caseWarp,.customerWarp{
    max-width: 1200px;
    margin: 0 auto;
}
.headerWarp .logo{
    float: left;
}
.headerWarp .logo a{
    display: block;
    width:128px;
    height: 34px;
    position: relative;
}
/* img{max-width: 100%;} */
.header .logo a img{position:absolute;top: 0;left:0;}
.header .logo a:nth-child(2){display: none;}
.header.headeractive .logo a:nth-child(1){display: none;}
.header.headeractive .logo a:nth-child(2){display: block;}
.header.headeractive .headerList a{color: #000000}

.rightButton{position: fixed;top:360px;right:58px;z-index: 2;}
.rightButton ul li{height:13px;width: 12px;border-radius: 50%;background: #bcbcbc;z-index: 1;margin-top: 15px;}
.rightButton ul li.active{background: #ffd564}
.rightButton ul li a{display: block;height: 100%;}

.header .headerList{float: right;}
.header .headerList li{float: left;padding-left: 102px;}
.header .headerList li a{height: 34px;;line-height: 34px;color: #ffffff;font-size: 14px;}
.banner li ,.rightButton li{cursor: pointer;}

.banner{width: 100%;height: 768px;position: relative;overflow: hidden;text-align: center;}
.banner h2{color: #ffffff;font-size: 55px;line-height: 55px;}
.banner .bannerListP{color: #ffffff;font-size: 31px;line-height: 31px;padding: 20px 0 28px 0;}
.banner  a{color: #ffd564;font-size: 18px;line-height: 18px;border: 1px solid #ffd564;border-radius: 10px;padding: 9px 35px;}
.banner .bannerList{position: absolute;width: 302%;}
.banner .bannerList img{vertical-align:middle;width:100%;height: 768px;}
.banner .bannerList .bannerListNumber{position: relative;float: left;width: 33.3%;}
.banner .bannerText{position: absolute;z-index: 2;top:20%;text-align: center;left:50%; margin-left:-228px;} 
.banner .buttons{position: absolute;bottom: 25px;left: 50%;margin-left:-88px;}
.banner .buttons li{display: inline-block;width: 50px;height: 4px;background: #ffffff;float:left;margin-left:9px; }
.banner .buttons li.active{background: #fa9533}
.banner .petal{position: absolute;bottom:170px;left:50%;margin-left:-35px;background: url(../images/banner_Logo.png)no-repeat center;height: 73px;width: 70px;}

.service h2{text-align: center;font-size: 48px;color:#000000;padding:32px 0 35px ;}
.service li{float: left;width: 31%;margin: 1%;}
.service a{position: relative;display: block;height: 304px;width: 100%;background: #fe6f00;text-align: center;color:#ffffff;font-size: 28px;}
.service ul li:nth-child(2) a {background: #63cfd1;}
.service ul li:nth-child(3) a {background: #42bde3;}
.service ul li:nth-child(4) a {background: #5bbca5;}
.service ul li:nth-child(5) a {background: #7164b9;}
.service ul li:nth-child(6) a {background: #f5d344;}
.service .serviceWarp a img{height: 129px;padding:74px 0 30px 0; z-index: 3; }
.service .serviceWarp a p{z-index: 3;}
.service .serviceWarp a img:hover{
    transform: scale(1.2);
    -o-transform:scale(1.2);/* Opera */
    -moz-transform:scale(1.2);/* Firefox 4 */
    -webkit-transform: scale(1.2);/* Safari 和 Chrome */   
}




.case{background: #ffd564;max-width: 100%;}
.case .caseWarp{height: 768px;}
.case .caseWarp h2{color: #ffffff;text-align: center;font-size: 48px;padding:32px 0 46px ;}

.case .caseWarp .casePhoto{position: relative;width: 256px;height:337px;margin: 105px 0 0 73px;float: left}
.case .caseWarp .man{background:url(../images/case_1-1.png)no-repeat ;width: 226px;height: 303px;position: absolute;top:0;left:0;z-index:1}
.case .caseWarp .triangle{background:url(../images/case_1-2.png)no-repeat center; width:252px;height: 79px;position: absolute;top:0;left:0;z-index:3}
.case .caseWarp .round{
    background:url(../images/case_1-3.png)no-repeat center;width: 122px;height: 124px;position: absolute;top: -35px;left: 70px;z-index:2;
    -webkit-animation: circleRoate 3s infinite linear;
}
@-webkit-keyframes circleRoate{  
    from{transform: rotate(0deg);}  
    to{transform: rotate(360deg);}  
}  
.caseList{width: 70%;float: left;}
.caseList a{display: block;height: 289px;overflow: hidden;width: 40%;float: left;transition: .8s;padding-left:10px;}
.caseList a dl dd img{height: 100%;width:100%;transition: .5s;}
.caseList a dl{margin-top: -40px;position: relative;top: 0;left:0;height: 100%;}
.caseList a dl dt{position: relative;top: 40px;height: 40px;line-height: 40px;font-size: 18px;color: #000000;opacity: 0;transition: 1s;} 
.caseList a dd{position: relative;top: 0;left:0;height: 100%;}
.caseList a:hover dl dt{opacity: 1;}
.caseList a:hover dl dd {top: 40px; overflow: hidden;}
.caseList a:hover dl dd img{ transform:scale(1.05);-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-o-transform:scale(1.05);}


.caseList a:nth-child(1){height: 588px;width: 55%;padding-left:0}
.caseList a:nth-child(2){margin-bottom: 10px;}


.customer{height: 480px;width: 100%;background: #f8f8f8}
.customer h2{font-size: 48px;color: #000000;text-align: center;padding:53px 0 45px 0;}

.customerListTop,.customerListDown{width: 92%;margin: 0 auto;}
.customerListTop li {float: left;border-left: 1px solid #c0c0c0;width:25%;height: 110px;line-height:110px;text-align: center;}
.customerListTop li a img,.customerListDown li a img{
    vertical-align:middle;
    filter: gray;/*兼容IE*//*灰白色*/
    -o-filter:grayscale(100%);
    -moz-filter:grayscale(100%);/* Firefox 4 */
    -webkit-filter: grayscale(100%);/* Safari 和 Chrome */   
    width:100%;
}
.customerListTop li:hover a img,.customerListDown li:hover a img{
    filter: 0;
    -o-filter:grayscale(0%);
    -moz-filter:grayscale(0%);
    -webkit-filter: grayscale(0%);  
}

.customerListDown li{float: left;border-left: 1px solid #c0c0c0;width:25%;height: 110px;line-height:110px;text-align: center;}
.customerListTop li{border-bottom:1px solid #c0c0c0;}
.customerListTop li:nth-child(1),.customerListDown li:nth-child(1){border-left:0}

.footer {height: 222px;background: #282b32;width: 100%;}

.footerTop{height:40px;line-height: 40px;margin: 0 auto;width: 710px;padding: 91px 0;}
.footer a,.bottom a{color: #ffffff;}
.footer .footerTop p{padding-left: 100px;float: left;height: 40px;line-height: 40px;}
.footer .footerTop p a{font-size: 18px;}
.footer .footerTop p.qq a{background: url(../images/iconlist.png)no-repeat  ;display: block;height: 40px;padding-left: 35px;background-position: 0 7px;}
.footer .footerTop p.eamil a{background: url(../images/iconlist.png)no-repeat  ;display: block;height: 40px;padding-left: 35px;background-position: 0 -26px;}


.bottom{height: 63px;background: #1d2124;width: 100%;}
.bottom .bottomWarp{width: 1200px;margin: 0 auto; line-height: 63px;}
.bottom .bottomWarp span{font-size: 12px;color: #ffffff;}
.bottomR{float: right}
.bottomR li{float: left;padding-left: 47px;color: #ffffff;font-size: 16px;}

/* .bannerList div{width:100%;position:relative;} rgba(19, 41, 41, 0.5)*/

.serviceWarp ul li p#black{background:rgba(255, 255, 255, 0);width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.serviceWarp ul li span{
    display: block;width:180px;height: 50px;line-height: 50px;
    color: #ffffff;border: 1px solid #ffffff;border-radius: 10px;
position: absolute;
top:50%;
left:50%;
margin-left:-90px;
margin-top:-25px;
display: none;
}
.serviceWarp ul li:hover p#black{
    background:rgba(3, 3, 3, 0.5);
}
.serviceWarp ul li:hover span{
    display: block;
}
.bannerListNumberOne,.bannerListNumberTwo,.bannerListNumberThere{position: relative;float: left;width: 33.3%;    height: 768px;}
.bannerListNumberOne{background: url(../images/banner.jpg)no-repeat center}
.bannerListNumberTwo{background: url(../images/banner2.jpg)no-repeat center}
.bannerListNumberThere{background: url(../images/banner3.jpg)no-repeat center}

img{
    object-fit: cover;
}

@media only screen and (max-width: 1200px) {
    .caseList {
        width: 65%;
        margin: 0 auto;
    }
    
} 
@media only screen and (max-width: 960px) {
    .caseList {
        padding-left: 20px;
        width: 100%;
        margin: 0 auto;
        min-width: 748px;
    }
    .case .caseWarp{
        height:100%;
        padding-bottom: 50px;
    }
    .case .caseWarp .casePhoto{
        float: none;
        margin: 0 auto;
    }
    
} 
@media only screen and (max-width: 768px) {
    .customerListTop li a img,.customerListDown li a img{
        width:100%;
    }
    .service a{
        font-size: 20px;
        height: 100%;
        height: 152px;
    }
    .serviceWarp ul li p#black{

    }
    .service .serviceWarp a img{
        height: 40%;
        padding: 15% 0px 10%;
    }
    .customer{height: 100%;}
    .service h2,.case .caseWarp h2,.customer h2{
        font-size: 36px;
    }
.banner h2{font-size: 34px;line-height: 55px;}
.banner .bannerListP{font-size: 24px;line-height: 24px;padding: 5px 0 14px 0;}
.banner  a{font-size: 14px;line-height: 18px;border: 1px solid #ffd564;border-radius: 10px;padding: 9px 35px;}
}
